

   <h1>Reset Password</h1>
   

   <form action="" method="POST">
      <div class="infields"> 
      <input type="password" name="password" placeholder="Enter Password"  required>
      <input type="hidden"  name="user_id" value="<%=user_id%>">
      <input type="submit" value="Reset">
      </div>
   </form>
