<link rel="stylesheet" href="/css/forget.css">
<body>
<div class="center">

<h1>Forget Password</h1>


   <form action="/users/forget" method="POST">
      <div class="infields"> 
      <input type="email" name="email" placeholder="Email"  required>
      <input type="submit" value="Reset Password">
      </div>
   </form>
</body>